@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* font-family: 'Work Sans', sans-serif; */
/* work-sans-regular - latin */
@font-face {
     font-display: swap;
     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 400;
     src: url('../font/work-sans-v18-latin-regular.eot');
     /* IE9 Compat Modes */
     src: url('../font/work-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('../font/work-sans-v18-latin-regular.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('../font/work-sans-v18-latin-regular.woff') format('woff'),
          /* Modern Browsers */
          url('../font/work-sans-v18-latin-regular.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('../font/work-sans-v18-latin-regular.svg#WorkSans') format('svg');
     /* Legacy iOS */
}

/* work-sans-800 - latin */
@font-face {
     font-display: swap;
     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 800;
     src: url('../fonts/work-sans-v18-latin-800.eot');
     /* IE9 Compat Modes */
     src: url('../fonts/work-sans-v18-latin-800.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('../fonts/work-sans-v18-latin-800.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('../fonts/work-sans-v18-latin-800.woff') format('woff'),
          /* Modern Browsers */
          url('../fonts/work-sans-v18-latin-800.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('../fonts/work-sans-v18-latin-800.svg#WorkSans') format('svg');
     /* Legacy iOS */
}

/* work-sans-900 - latin */
@font-face {
     font-display: swap;
     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 900;
     src: url('../fonts/work-sans-v18-latin-900.eot');
     /* IE9 Compat Modes */
     src: url('../fonts/work-sans-v18-latin-900.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('../fonts/work-sans-v18-latin-900.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('../fonts/work-sans-v18-latin-900.woff') format('woff'),
          /* Modern Browsers */
          url('../fonts/work-sans-v18-latin-900.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('../fonts/work-sans-v18-latin-900.svg#WorkSans') format('svg');
     /* Legacy iOS */
}

:root {
     --txtBody: #555555;
     --txtHead: #000;
     --bgOrange: #fd7529;
     --fontTxt: 'Work Sans', sans-serif;
     --btnGradient: linear-gradient(to left, #F84488, #FF823E);
}

html {
     --scrollbarBG: #252525;
     --thumbBG: #F84488;
}

body::-webkit-scrollbar {
     width: 12px;
}

body {
     scrollbar-width: thin;
     scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
     background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
     background-color: var(--thumbBG);
     border-radius: 6px;
     border: 3px solid var(--scrollbarBG);
}

body {
     font-family: 'Work Sans', sans-serif;
     line-height: 28px;
}

ul {
     list-style: none;
     margin: 0;
     padding: 0;
}

a {
     text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
     margin: 0;
}

.spacer {
     padding-top: 70px;
     padding-bottom: 70px;
}

.row {
     margin: 0;
}

.btn-theme {
     padding: 10px 30px;
     background-image: var(--btnGradient);
     color: var(--txtHead);
     border-radius: 10px !important;
     font-family: var(--fontTxt);
     font-weight: bold;
     letter-spacing: 1px;
     font-size: 18px !important;
     transition: .3s;
}

.btn-theme:hover {
     background-image: linear-gradient(to right, #F84488, #FF823E);
     color: white !important;
}


/* +++++++++++++++++++++++++++++++++++++++ */
.cta-1 {
     position: relative;
     padding: 15px 35px;
     border: none;
     font-size: 20px;
     background-image: linear-gradient(to right, #F84488, #FF823E);
     border-radius: 8px;
     overflow: hidden;
     cursor: pointer;
     color: #fff;
}

.btn-theme1 {
     padding: 10px 30px;
     background-image: linear-gradient(180deg, #B221E4 0%, #5C0DC1 100%);
     color: white;
     border-radius: 10px !important;
     font-family: var(--fontTxt);
     font-weight: bold;
     letter-spacing: 1px;
     font-size: 18px !important;
     transition: .3s;
}

.btn-theme1:hover {
     background-image: linear-gradient(180deg, #5C0DC1 0%, #B221E4 100%);
     color: white !important;
}

.cta-2 {
     position: relative;
     padding: 15px 35px;
     border: none;
     font-size: 20px;
     border: 1px solid var(--bgOrange);
     border-radius: 8px;
     overflow: hidden;
     cursor: pointer;
     color: var(--txtBody);
     font-weight: 500;
}

.cta-1:active,
.cta-1:focus {
     outline: none;
}

.cta-1 h6 {
     position: relative;
     color: #fff;
     transition: all 0.6s ease;
}

.cta-2 h6 {
     position: relative;
     color: var(--txtBody);
     transition: all 0.6s ease;
}

.cta-1::before,
.cta-2::before {
     content: '';
     width: 100%;
     height: 100%;
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     background-image: linear-gradient(to left, #F84488, #FF823E);
     transform: scaleX(0);
     transform-origin: 100%;
     transition: transform 0.6s ease;
     color: #fff;
}

.cta-1:hover::before,
.cta-2:hover::before {
     transform-origin: 0;
     transform: scaleX(1);
}

.cta-2:hover h6 {
     color: #fff;
}

/* +++++++++++++++++++++++++++++++++++++++ */
/* header */
header {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 11111;
}

.fixed {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 9999;
     background-color: #fff;
     box-shadow: 0px 1px 5px rgba(52, 52, 52, 0.1);
}


nav button span i {
     color: var(--bgOrange) !important;
}

.navbar-toggler:focus {
     box-shadow: none !important;
}

.main_menu>li {
     position: relative;
}

.main_menu>li>a {
     font-family: var(--fontTxt);
     font-weight: 500;
     font-size: 18px;
     padding: 15px 25px !important;
     color: var(--txtBody);
}

.main_menu>li:last-child>a {
     padding-right: 0 !important;
}

.main_menu li a.active,
.main_menu li:hover>a {
     color: var(--bgOrange) !important;
}

.navbar form i {
     color: #555555;
     padding: 0 40px;
}

.navbar .container-fluid {
     --bs-gutter-x: 0;
}

.sub_menu {
     position: absolute;
     top: 100%;
     left: 0 !important;
     width: 250px;
     background-color: white;
     box-shadow: 0px 3px 3px rgba(0, 0, 0, .2);
     display: none;
}

.sub_menu li a {
     display: block;
     padding: 10px 15px;
     border-bottom: 1px dashed rgba(0, 0, 0, .1);
     color: var(--txtBody);
     font-weight: 500;
     font-size: 16px !important;
     transition: .3s;
}

.sub_menu li:last-child a {
     border-bottom: none;
}

.sub_menu li:hover>a {
     background-color: var(--bgBlue);
     color: var(--bgOrange) !important;
}

.main_menu li:hover .sub_menu {
     display: block;
}


/* banner */
.banner_content {
     padding-left: 80px;
}

.spacer .startup-shape-2 {
     position: absolute;
     top: 20%;
     left: 44%;
 }

 .moveHorizontal_reverse {
     animation: moveHorizontal_reverse 3000ms infinite ease-in-out;
 }

 .spacer .startup-shape-4 {
     position: absolute;
     right: 12%;
     bottom: 10%;
 }
 
 .moveHorizontal {
     animation: moveHorizontal 3000ms infinite ease-in-out;
 }

 

.spacer .startup-shape-3 {
    position: absolute;
    top: 15%;
    right: 12%;
}

.rotate {
     animation: rotation 20s infinite linear;
 }

.banner_content span {
     color: var(--bgOrange);
     background-color: #F9EEE4;
     padding: 10px 25px;
     border-radius: 5px;
     font-weight: 500;
}

.banner_content h1 {
     color: var(--txtHead);
     font-size: 70px;
     line-height: 76px;
     font-weight: 600;
     margin-bottom: 20px;
     margin-top: 20px;
}

.banner_content p {
     font-size: 16px;
     line-height: 26px;
     color: var(--txtBody);
     margin-bottom: 20px;
}


/* services */
.section_title {
     text-align: center;
}

.section_title .subtitle {
     color: var(--bgOrange);
     font-weight: 600;
     font-size: 16px;
}

.section_title h2 {
     font-weight: 700;
     font-size: 40px;
     color: var(--txtHead);
     margin-top: 10px;
}

/* feature */
.feature .feature-icon {
     background-image: var(--btnGradient) !important;
     border-radius: 5px;
     padding: 15px;
}

.feature {
     box-shadow: 3px 3px 10px #dddddd;
     border-radius: 20px;
}

.feature h3 {
     color: var(--txtHead);
     font-weight: 700;
     cursor: pointer;
     transition: .3s;
     margin-bottom: 5px;
     font-family: var(--fontTxt);
}

.feature h3:hover {
     color: var(--bgOrange);
}

.feature p {
     color: var(--txtBody);
     font-weight: 500;
}

#featured-3 .owl-nav .owl-prev,
#featured-3 .owl-nav .owl-next {
     height: 50px;
     width: 50px;
     color: var(--txtHead) !important;
     border-radius: 50% !important;
     font-size: 30px;
     transition: .3s;
     background: #ffe9d4 !important;
}

#featured-3 .owl-nav .owl-prev:hover,
#featured-3 .owl-nav .owl-next:hover {
     background: var(--bgOrange) !important;
     color: #fff !important;
}


/* about us */
.marketing-content>* {
     margin-bottom: 30px;
}

.marketing-content {
     margin-top: 50px;
     margin-bottom: 50px;
}

.row>* {
     padding-left: 0 !important;
}

.marketing-content .section-heading .subtitle {
     color: var(--bgOrange);
     font-weight: 600;
}

.marketing-content .section-heading h2 {
     color: var(--txtHead);
     font-weight: 700;
     font-size: 48px;
     line-height: 57px;
     font-family: var(--fontTxt) !important;
}

.marketing-content .section-heading p {
     font-size: 18px;
     color: var(--txtBody);
}

.marketing-content .info i {
     color: var(--bgOrange);
     font-size: 20px;
}

.marketing-content .info {
     color: #333333;
     font-size: 19px;
     margin-bottom: 15px;
}


/* process */
.process .section-title {
     margin-bottom: 50px;
}

.process .section-title h2 {
     font-size: 40px;
     color: var(--txtHead);
     font-weight: 800;
}

.process .section-title .subtitle {
     color: var(--bgOrange);
     font-weight: 700;
}

.process-1 {
     background-color: #FFDBE7;
     border-radius: 50%;
}

.process-card>* {
     margin-bottom: 20px;
}

.process-card h4 {
     font-size: 24px;
     color: var(--txtHead);
     font-weight: 600;
}

.process-card p {
     color: #555;
     font-size: 17px;
}

.process .process-shape-1 {
     position: absolute;
     top: 45%;
     left: 31%;
     transform: translateY(-50%);
}

.process{
position: relative;
}



.process .process-shape-2 {
     position: absolute;
     top: 45%;
     right: 33%;
     transform: translateY(-50%);
 }
 

/* counter */
.counter {
     background-color: #4D1071;
}

.count-info {
     background-color: #561C78;
     border-radius: 10px;
     color: #fff;
}

.spacer{
     position: relative;
}
.count-shape{
     width: 100%;
}

.spacer .count-shape {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 1;
     /* -webkit-animation: FocuS 1s linear 1s infinite; */
     animation: FocuS 1s linear 1s infinite;
 }

.count-info .count {
     font-size: 50px;
     font-weight: 700;
     background: -webkit-linear-gradient(left, #ff7270, #ff00aa);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.count-info p {
     font-size: 16px;
     font-weight: 500;
}


/* Experience */
.business-experience>* {
     margin-bottom: 30px;
}

.business-experience .section-heading .subtitle {
     color: var(--bgOrange);
     font-weight: 500;
}

.ex_icon {
     background-color: #FFF1E9;
     padding: 13px;
     border-radius: 7px;
}

.business-experience .section-heading h2 {
     font-size: 48px;
     line-height: 57px;
     color: var(--txtHead);
     font-weight: 700;
     margin-top: 20px;
     margin-bottom: 20px;
}

.experience-card {
     background-color: #fff;
     box-shadow: 3px 3px 15px #eeecec;
     border-radius: 10px;
}

.experience-card h4 {
     font-size: 19px;
     color: #000;
     font-weight: 600;
}

.experience-card p {
     font-size: 17px;
}



/* video */
.video_img img {
     /* background-image: linear-gradient(rgba(104, 101, 255, 0.5),rgba(119, 117, 255, 0.5)),url(../image/asset\ 25.png); */
     /* background-size: cover; */
     /* padding: 280px 0; */
     border-radius: 20px;
     margin-bottom: 50px;
     width: 100%;
}


.video_img {
     position: relative;
}

.popup-btn {
     position: absolute;
     top: 40%;
     left: 0;
     right: 0;
     margin: auto;
     transform: translateY(-50%);
     border: 1px solid #ffffff;
     width: 100px;
     height: 100px;
     line-height: 114px;
     border-radius: 50%;
     text-align: center;
     padding-left: 3px;
     z-index: 1;
}

.popup-btn::before {
     content: "";
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: -1;
     border-radius: 50%;
     transition: all ease 0.5s;
     border: 1px solid #ffffff;
     -webkit-animation: ripple 2s linear infinite;
     animation: ripple 2s linear infinite;
}

@keyframes ripple {
     0% {
          transform: scale(1.1);
          opacity: 1;
     }

     100% {
          transform: scale(2.1);
          opacity: 0;
     }
}

.popup-btn i {
     font-size: 30px;
     color: #fd7529;
     background: #ffffff;
     width: 70px;
     height: 70px;
     line-height: 77px;
     border-radius: 50%;
     display: inline-block;
     padding-left: 4px;
     transition: all ease 0.5s;
}



/* portfolio */
#portfolio .owl-nav .owl-prev,
#portfolio .owl-nav .owl-next {
     height: 50px;
     width: 50px;
     color: var(--txtHead) !important;
     border-radius: 50% !important;
     font-size: 30px;
     transition: .3s;
     background: #ffe9d4 !important;
}

#portfolio .owl-nav .owl-prev:hover,
#portfolio .owl-nav .owl-next:hover {
     background: var(--bgOrange) !important;
     color: #fff !important;
}

.portfolio .subtitle {
     color: var(--bgOrange);
}

.portfolio .section-title {
     margin-bottom: 50px;
}

.portfolio .section-title h2 {
     font-size: 40px;
     color: var(--txtHead);
     font-weight: 800;
}

.portfolio_img {
     background-color: #F9F9F9;
     border-radius: 15px 0 0 15px;
}

.portfolio_card {
     box-shadow: 3px 3px 10px #dddd;
     border-radius: 15px;
     transition: .3s;
}

.portfolio_card h4 {
     color: #000;
     font-weight: 800;
     font-size: 20px;
     margin-bottom: 5px;
}

.portfolio_card:hover h4 {
     color: #fff;
}

.portfolio_card:hover p {
     color: #fff;
}

.portfolio_card p {
     color: var(--txtBody);
}

.portfolio_card:hover .portfolio_card_text {
     background-image: linear-gradient(to left, #F84488, #FF823E);
     border-radius: 0 0px 15px 15px;
}


/* Get Started Instantly */
.instantly {
     background-color: #3D0660;
     position: relative;
}

.instantly .section-heading .sub-title {
     color: var(--bgOrange);
}

.instantly .section-heading h2 {
     color: #FFF;
     font-size: 48px;
     line-height: 57px;
     font-weight: 700;
     margin-top: 10px;
}

.instantly .news-shape-1 {
     position: absolute;
     top: 0;
     right: 0;
     z-index: 1;
 }


.instantly .news-shape-2 {
    position: absolute;
    top: 43%;
    right: 15%;
    transform: translateY(-50%);
}
.rotate {
    -webkit-animation: rotation 20s infinite linear;
    animation: rotation 20s infinite linear;
}

.instantly .news-shape-3 {
     position: absolute;
     top: 55%;
     left: 27.8%;
     z-index: -1;
 }


 .instantly .news-shape-4 {
     position: absolute;
     left: 0;
     bottom: 0;
     z-index: 1;
 }


/* Our Team Member */
#team .owl-nav .owl-prev,
#team .owl-nav .owl-next {
     height: 50px;
     width: 50px;
     color: var(--txtHead) !important;
     border-radius: 50% !important;
     font-size: 30px;
     transition: .3s;
     background: #ffe9d4 !important;
}

#team .owl-nav .owl-prev:hover,
#team .owl-nav .owl-next:hover {
     background: var(--bgOrange) !important;
     color: #fff !important;
}

.team .section-heading .subtitle {
     color: var(--bgOrange);
}

.team .section-heading h2 {
     color: var(--txtHead);
     font-size: 48px;
     line-height: 57px;
     font-weight: 700;
     margin-top: 10px;
}

.team {
     background-color: #F6F3F0;
}

.team .main_team {
     margin-top: 50px;
}

.team-card {
     box-shadow: 0px 3px 10px rgba(156, 156, 156, 0.7);
     background-color: #ffffff;
     border-radius: 20px;
     text-align: center;
     margin: 0px 5px 30px 5px;
     transition: all ease 0.5s;
     position: relative;
     z-index: 1;
     padding-top: 16px;
     padding-left: 18px;
     padding-right: 18px;
     padding-bottom: 30px;
}

.team-card::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     background: linear-gradient(179.21deg, #FE7B46 36.01%, #F73A93 99.32%);
     box-shadow: 0px 0px 30px rgba(122, 28, 208, 0.07);
     border-radius: 20px;
     transition: all ease 0.5s;
     z-index: -1;
}

.team-card .team-img {
     position: relative;
}

.team-card .team-img::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     border-radius: 50%;
     transition: all ease 0.5s;
     background: linear-gradient(181.88deg, rgba(0, 0, 0, 0) 50.12%, rgba(0, 0, 0, 0.72) 98.41%);
}

.team-card .team-img img {
     width: auto;
     height: auto;
     border-radius: 50%;
}

.team-card .team-social {
     position: relative;
}

.team-card .team-social ul {
     transition: all ease 0.5s;
     padding-left: 0;
     margin-bottom: 0;
     list-style-type: none;
     position: absolute;
     bottom: 50px;
     left: 0;
     right: 0;
}

.team-card .team-social ul li {
     transition: all ease 0.5s;
     display: inline-flex;
     padding-right: 5px;
     opacity: 0;
     visibility: hidden;
}

.team-card .team-social ul li:last-child {
     padding-right: 0;
}

.team-card .team-social ul li i {
     color: #fd7529;
     background-color: #ffffff;
     border-radius: 50%;
     text-align: center;
     transition: all ease 0.5s;
     padding: 10px;
}

.team-card .team-social ul li i:hover {
     background-color: #fd7529;
     color: #ffffff;
}

.team-card .name {
     margin-top: 20px;
}

.team-card .name h4 {
     font-size: 24px;
     margin-bottom: 8px;
     transition: all ease 0.5s;
     font-weight: 700;
     color: #000;
}

.team-card .name p {
     transition: all ease 0.5s;
}

.team-card:hover h4 {
     color: #ffffff !important;
}

.team-card:hover p {
     color: #ffffff;
}

.team-card:hover::before {
     opacity: 1;
}

.team-card:hover .team-img::before {
     opacity: 1;
}

.team-card:hover ul li {
     opacity: 1;
     visibility: visible;
}



/* testimoniol */
.testimonial .section-title .subtitle {
     color: var(--bgOrange);
}

.testimonial .section-title h2 {
     color: var(--txtHead);
     font-size: 48px;
     line-height: 57px;
     font-weight: 700;
     margin-top: 10px;
}

.say-card {
     background-color: #fff;
     border-radius: 20px;
     margin-right: 10px;
}

.say-card p {
     font-size: 18px;
     line-height: 30px;
     color: #000;
}

.say-card .quote i {
     font-size: 40px;
     color: #ffc6a8;
     transition: .3s;
}

.say-card:hover .quote i {
     color: var(--bgOrange);
}

.say-card span {
     color: var(--txtBody);
}

.say-card h4 a {
     color: #000;
     font-weight: 700;
     transition: .3s;
}

.say-card h4 a:hover {
     color: var(--bgOrange);
}



/* blog */
.blog .section-title .cta-1 a {
     color: #ffff;
}

.blog .section-title .subtitle {
     color: var(--bgOrange);
}

.blog .section-title h2 {
     color: var(--txtHead);
     font-size: 48px;
     line-height: 57px;
     font-weight: 700;
     margin-top: 10px;
}

.blog-card {
     box-shadow: 0px 3px 20px rgba(80, 79, 79, 0.1);
     background-color: #ffffff;
     margin-bottom: 30px;
     border-radius: 20px;
     position: relative;
     margin-right: 10px;
}

.blog-card .single {
     padding-left: 55px;
     padding-bottom: 35px;
}

.blog-card .single .blog-img {
     position: relative;
}

.blog-card .single .blog-img img {
     border-radius: 20px 20px 0px 0px;
}

.blog-card .single .blog-img .date {
     position: absolute;
     right: 0;
     bottom: 0;
     font-size: 18px;
     font-weight: 500;
     color: #ffffff;
     background: linear-gradient(82.18deg, #FE764B 20.07%, #F73A93 94.97%);
     border-radius: 20px 0px 0px 20px;
     padding: 10px 22px;
}

.blog-card .single .blog-content {
     padding: 28px 28px 10px 0px;
}

.blog-card .single .blog-content h4 {
     font-size: 24px;
     font-weight: 700;
     transition: all ease 0.5s;
     margin-bottom: 5px;
}

.blog-card .single .blog-content h4 a {
     color: #000000;
}

.blog-card .single .blog-content h4 a:hover {
     color: var(--bgOrange);
}

.blog-card .single .blog-content ul {
     padding-left: 0;
     margin-bottom: 0;
     list-style-type: none;
     transform: rotate(-89.69deg);
     position: absolute;
     top: 150px;
     left: -90px;
}

.blog-card .single .blog-content ul li {
     display: inline-block;
     color: var(--txtBody);
     margin-right: 30px;
}

.blog-card .single .blog-content ul li:last-child {
     margin-right: 0;
}

.blog-card .single .blog-content ul li img {
     transform: rotate(90deg);
     max-width: 15px;
     position: relative;
     top: -2px;
}

.blog-card .single .blog-content ul li a {
     color: var(--txtBody);
     transition: .3s;
}

.blog-card .single .blog-content ul li a:hover {
     color: #fd7529;
}



/* +++++++++++++++++  footer    +++++++++++++++++ */
.footer {
     background-color: #3B0458;
     position: relative;
}

.copy_text {
     color: #fff;
}

.copy_text span {
     color: var(--bgOrange);
}

.footer p {
     color: #fff;
}

.footer i {
     color: var(--bgOrange);
}

.footer a {
     color: #fff;
     transition: .3s;
}

.footer li {
     margin-bottom: 10px;
}

.footer a:hover {
     color: var(--bgOrange);
}

.footer h4 {
     font-weight: 700;
     font-size: 28px;
}
.footer-shape{
     width: 100%;
}
.footer .footer-shape {
     position: absolute;
     left: 0;
     bottom: -20px;
     z-index: 1;
     -webkit-animation: FocuS 1s linear 1s infinite;
     animation: FocuS 1s linear 1s infinite;
 }


/* new page +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* services */
/* new page +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.page-banner-heading h1 {
     color: #000;
     font-weight: 800;
     font-size: 48px;
}

.page-banner-heading li {
     color: var(--txtBody);
     font-size: 18px;
}

.page-banner-heading li a {
     color: var(--bgOrange);
     transition: .3s;
}

.page-banner-heading li a:hover {
     color: #cc5917
}

/* new page +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* services */
/* new page +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.contact_page .sub-title {
     color: var(--bgOrange);
}

.contact_page .section-header h2 {
     color: var(--txtHead);
     font-size: 40px;
     line-height: 57px;
     font-weight: 700;
     margin-top: 10px;
}

.contact_page form input {
     border: none;
}

.contact_page form textarea {
     border: none;
}

.contact_page .call {
     background-color: #fff;
     box-shadow: 3px 3px 30px #eaeaea;
     margin-bottom: 25px;
}

.contact_page .call p a {
     color: var(--txtBody);
     transition: .3s;
}

.contact_page .call p a:hover {
     color: var(--bgOrange);
}

.contact_page .call i {
     color: var(--bgOrange);
     padding: 20px;
     background-color: #FFF8F4;
     font-size: 25px;
     border-radius: 10px;
}

.contact_page .call h5 {
     color: #000;
     font-weight: 600;
}

/* ============ Go top=============== */

.go-top.active {
     top: 98%;
     transform: translateY(-98%);
     opacity: 1;
     visibility: visible;
 }

 .go-top {
     position: fixed;
     cursor: pointer;
     /* top: 50%; */
     right: 15px;
     background-color: #fd7529;
     z-index: 4;
     width: 40px;
     text-align: center;
     height: 40px;
     line-height: 40px;
     /* opacity: 0; */
     visibility: hidden;
     transition: all ease 0.5s;
     color: #ffffff;
 }



 .go-top::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
     background-color: #000000;
     opacity: 0;
     visibility: hidden;
     transition: all ease 0.5s;
 }
